<ul nz-menu nzMode="horizontal">
  <li nz-menu-item routerLink="መረጃ" routerLinkActive="ant-menu-item-selected">
    <i nz-icon nzType="read" nzTheme="outline"></i>
    መረጃ
  </li>
  <li
    nz-menu-item
    routerLink="መጽሐፍት_ቁጥጥር"
    routerLinkActive="ant-menu-item-selected"
  >
    <i nz-icon nzType="read" nzTheme="outline"></i>
    መጽሐፍት
  </li>
  <li
    nz-menu-item
    routerLink="መጽሐፍት_ኪራይ"
    routerLinkActive="ant-menu-item-selected"
  >
    <i nz-icon nzType="interaction"></i>
    ኪራይ
  </li>
</ul>

<nz-divider></nz-divider>
<router-outlet></router-outlet>
